body
{
    background-image: url("image/wall1.jpeg");
}

#main_text
{
    margin-top: 400px;
    color: #fff;
    font-size: 335%;
}

#main_sub_text
{
    margin-top: 20px;
    display: none;
    color: #fff;
    font-size: 335%;
}

#input_name
{
    margin-top: 20px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 335%;
    border: transparent;
    border-bottom: 5px solid #fff;
    text-align: center;
}

#input_name:focus
{
    background-color: transparent;
    outline: 0;
}

#main_button
{
    margin-top: 20px;
    border: 5px solid #fff;
    color: #fff;
    font-size: 335%;
    width: 200px;
    cursor: pointer;
}




