body
{
    background-image: url("image/wall1.jpeg");
}

#main_text
{
    margin-top: 400px;
    color: #fff;
    font-size: 335%;
}

#main_sub_text
{
    margin-top: 20px;
    display: none;
    color: #fff;
    font-size: 335%;
}

#input_name
{
    margin-top: 20px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 335%;
    border: transparent;
    border-bottom: 5px solid #fff;
    text-align: center;
}

#input_name:focus
{
    background-color: transparent;
    outline: 0;
}


#todo_title
{
    margin-top: 100px;
    display: none;
    color: #fff;
    font-size: 250%;
}

#todo_input
{
    display: none;
}

#input_todo
{
    margin-top: 20px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 250%;
    border: transparent;
    border-bottom: 5px solid #fff;
    text-align: center;
}

#input_todo:focus
{
    background-color: transparent;
    outline: 0;
}

#todo_sub_title
{
    margin-top: 100px;
    display: none;
    color: #fff;
    font-size: 180%;
}

#todo_sub_text
{
    margin-top: 20px;
    display: none;
    color: #fff;
    font-size: 200%;
}

#footer_quote
{
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
}





